{#
/**
 * @file oauth_app.html.twig
 * Default theme implementation to present OAuth App data.
 *
 * This template is used when viewing OAuth App pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_oauth_app()
 *
 * @ingroup themeable
 */
#}
<article{{ attributes.addClass('oauth_app') }}>
  {{ title_prefix }}
  {{ title_suffix }}
  <div{{ content_attributes }}>
    {{ content }}
  </div>
</article>
